# virtual environments
venv/
.venv/
esm1v_env/
esm1v_venv/
.venv_evc310/
evc_petase/
evcouplings_venv/
plmc/
evc_results_0.3/
evc_results_0.7/

__pycache__/
*.pyc
.ipynb_checkpoints/

# misc
.DS_Store
.env
*.env
data/temp

# local databases
/data/db/uniprot_sprot.fasta
/data/db/uniprot_sprot.fasta.gz
/data/db/
