# virtual environments (never commit)
venv/
.venv/
esm1v_env/
esm1v_venv/
data/esm1v_env/
data/esm1v_venv/
.venv_evc310
evc_petase
evcouplings_venv
WT_A
plmc
# python junk
__pycache__/
*.pyc
.ipynb_checkpoints/

# misc
.DS_Store
.env
*.env
data/temp
