# virtual environments
venv/
.venv/
esm1v_env/
esm1v_venv/
data/esm1v_env/
data/esm1v_venv/
.venv_evc310/
evc_petase/
evcouplings_venv/
plmc/
data/db/
__pycache__/
*.pyc
.ipynb_checkpoints/

# misc
.DS_Store
.env
*.env
data/temp
